@font-face {
   font-family: 'Onest';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/100.ttf') format('truetype');
}
@font-face {
   font-family: 'Onest';
   font-style: normal;
   font-display: swap;
   font-weight: 200;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/200.ttf') format('truetype');
}
@font-face {
   font-family: 'Onest';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/300.ttf') format('truetype');
}
@font-face {
   font-family: 'Onest';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Onest';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Onest';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Onest';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Onest';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Onest';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/KERJAAN%20WEBSITE/eben/mobi/fonts/Onest/regular.ttf') format('truetype');
}
